<div class="hero">
    <nav class="navbar navbar-default navbar-inverse" id="header">
        <div class="top hidden-xs">
            <div class="container text-right form-inline">
                <a class="fb" target="_blank" href="https://www.facebook.com/ahmed.nouira.7792" title="Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="tw" target="_blank" href="https://twitter.com/AhmNouira" title="Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <!-- 
                <a class="insta" target="_blank" href="https://instagram.com/Bandora" title="Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
                -->

                <a class="reddit" target="_blank" href="https://github.com/ahmnouira" title="GitHub">
                    <i class="fa fa-github"></i>
                </a>

                <span class="localization">
                    <ul id="langs">
                        <li data-value="en">EN - English</li>

                        <!--  <li [disabled]="true" data-value="fr">FR - Français</li> -->
                    </ul>
                </span>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a href="#" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="navbar-brand" href="./">
                        <img src="assets/images/logo-bandora.png" height="23" class="pull-left" title="Bandora"
                            alt="Bandora">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="first"><a href="#about">About</a></li>
                        <li><a href="#apps">Apps</a></li>
                        <li><a href="#features" lang="en" hreflang="en">Features</a></li>
                        <li><a href="#web" lang="en" hreflang="en">Web</a></li>
                        <li><a href="#news" hreflang="en">News</a></li>
                        <li><a href="#contact" lang="en" hreflang="en">Contact</a></li>

                        <li class="action"><a href="https://bandora.web.app/" class="btn btn-ghost btn-short">Web
                                Version</a></li>
                        <li class="action"><a href="https://bit.ly/2S3PfyT"
                                class="btn btn-default btn-short">DOWNLOAD</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>
    </nav>

    <div id="header-spacer" class="nojs"></div>

    <div id="about" class="container alps-hero-container">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h1 class="homepage-hero-title" style="font-family: 'llcalig'">Social Media Chat App</h1>
                    <h3 class="homepage-hero-sub-title">Chat with people around the world</h3>
                    <a href="https://bandora.web.app/" class="btn btn-ghost btn-lg">START</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="assets/images/bandora-lite.png" target="_blank" rel="nofollow">
                    <img data-src="assets/images/bandora.png" height="651" width="443" alt="Bandora Android Mobile App"
                        title="Bandora Android Mobile App" class="phone-image nojs"></a>
            </div>
        </div>
    </div>
</div>