<footer style="background-color: #505061; padding-bottom: 5px;">
    <p id="contact" class="text-center" lang="en">
        <span class="footer-logos">
            <a href="mailto:ahmnouira@gmail.com" target="_blank" rel="nofollow" title="Ahmed Nouira"> 
                <img class="img-responsive img-circle" src="assets/images/footer/ahmed-nouira.jpg" alt="Ahmed Nouira"
                    width="120"></a>
        </span>
    </p>
    <p class="text-center text-white">&copy; Feb 2020 <a class="text-white" href="https://github.com/ahmnouira/BandoraWebsite" target="_blank" title="Bandora">Bandora</a>. All Rights Reserved.</p>
</footer>