<app-header></app-header>

<div id="apps" class="apps">
    <div class="container">
        <h4>The Bandora mobile apps are now available worldwide.</h4>
        <p class="text-muted"><em>Chatting With People With Your Mobile Device.</em></p>
        <nav class="os-navigation">
            <a target="_blank" href="https://bit.ly/2S3PfyT" title="Get the Android App"
                class="btn btn-ghost alt btn-lg android">
                <i class="fa fa-android"></i>&nbsp;
                <span>Get the Android App</span>
            </a>
            &nbsp;
            <a target="_blank" href="#" title="Get the iOS App" class="btn btn-ghost alt btn-lg ios">
                <i class="fa fa-apple"></i>&nbsp;
                <span>Get the iOS App</span>
            </a>
            &nbsp;
            <a href="https://bandora.web.app/" class="btn btn-ghost alt btn-lg web" target="_blank"
                title="Use the Web Version">
                <i class="fa fa-globe"></i>&nbsp;
                <span>Use the Web Version</span>
            </a>
        </nav>
        <!--/.os-navigation-->
    </div>
</div>

<app-services></app-services>

<app-slider></app-slider>

<app-news></app-news>

<app-footer></app-footer>