<div id="news" class="post-list-section">
    <div class="container content">
        <div class="title-row">
            <h2 class="text-center"><strong style="font-family: 'llcalig';">Bandora News</strong></h2>
            <h6>&nbsp;</h6>
        </div>

        <div class="row">
            <div class="col-md-6">
                <figure class="nojs">
                    <a target="_blank" href="assets/images/news/view-photo.png">
                        <img data-src="assets/images/news/view-photo.png" title="View Photos" alt="Ability to view
                        photos">
                    </a>
                </figure>
                <div class="post-summary">
                    <div class="post-title">
                        <a target="_blank" href="https://github.com/ahmnouira/bandora-chat-app#readme">Ability to view
                            photos</a>
                    </div>
                    <!--/.post-title-->
                    <h6 class="excerpt">You could now view photos in full screen account photo, user profile photo, chat
                        room photo.
                    </h6>

                    <!--
                    <h6 class="entry-meta">
                        <span class="entry-date">Posted on 5 Feb 2020</span>
                        <a target="_blank" href="https://github.com/ahmnouira/bandora-chat-app/issues"
                            class="pull-right comment-count sp-before">
                            <i class="fa fa-comment-o comment-count-picto"></i>0 Comments
                        </a>
                    </h6>
                    -->
                    
                </div>
                <!--/.post-summary-->
            </div>
            <!--/.col-->
            <div class="col-md-6">
                <figure class="nojs">
                    <a target="_blank" href="assets/images/news/list-posts.png">
                        <img data-src="assets/images/news/list-posts.png" title="Manage Your Posts"
                            alt="Add ability to see and delete user posts">
                    </a>
                </figure>
                <div class="post-summary">
                    <div class="post-title">
                        <a target="_blank" href="https://github.com/ahmnouira/bandora-chat-app#readme">
                            See and delete your posts</a>
                    </div>
                    <!--/.post-title-->
                    <h6 class="excerpt">Today, we’re happy to announce a brand new Bandora feature. You could now see
                        and
                        delete your posts.</h6>
                    <!-- 
                    <h6>
                        <span class="entry-date">Posted on 5 Feb 2020</span>
                        <a target="_blank" href="https://github.com/ahmnouira/bandora-chat-app/issues"
                            class="pull-right comment-count sp-before">
                            <i class="fa fa-comment-o comment-count-picto"></i>0 Comments
                        </a>
                    </h6>
                    -->

                </div>
                <!--/.post-summary-->
            </div>
            <!--/.col-->
        </div>
        <!--/.cols-->
    </div>

</div>