<div id="features" class="services-section content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h2 class="text-center"><strong style="font-family: 'llcalig';">Meet People</strong></h2>
                <p>&nbsp;</p>
                <a href="assets/images/users-lite.png" target="_blank">
                    <img data-src="assets/images/users.png" alt="Bandora Users Page" title="Bandora Users Page"
                        height="60%"></a>

                <!--    <p class="lead">Security without the hassle</p> -->
            </div>
            <div class="col-md-4 col-xs-12">
                <h2 class="text-center"><strong style="font-family: 'llcalig';">Chats</strong></h2>
                <p>&nbsp;</p>
                <a href="assets/images/room-lite.png" target="_blank">
                    <img data-src="assets/images/room.png" alt="Bandora Chat Room Page" title="Bandora Chat Room Page"
                        height="60%">
                </a>

                <!--    <p class="lead">Security without the hassle</p> -->
            </div>

            <div class="col-md-4 col-xs-12">
                <h2 class="text-center"><strong style="font-family: 'llcalig';">More Stuff</strong></h2>
                <p>&nbsp;</p>
                <a href="assets/images/more-lite.png" target="_blank">
                    <img data-src="assets/images/more.png" alt="Bandora Account Page" title="Bandora Account Page"
                        height="60%">
                </a>
                <!--    <p class="lead">Security without the hassle</p> -->
            </div>
        </div>
    </div>
</div>