<div id="features" class="services-section content">
    <div class="container">
        <div class="row clear">
            <div class="col-md-4 free-col">
                <div class="row">
                    <div class="col-md-6">
                        <a href="assets/images/users-lite.png" target="_blank">

                            <img data-src="assets/images/users.png" alt="Bandora Users Page" title="Bandora Users Page"
                                class="phone-image nojs"></a>
                    </div>
                    <div class="col-md-6">
                        <h1>
                            Meet People
                        </h1>
                        <!--    <p class="lead">Security without the hassle</p> -->
                    </div>
                </div>
                <!--/.content-summary-->
            </div>
            <!--/.col-->
            <div class="col-md-4 use-col">
                <div class="row">
                    <div class="col-md-6">
                        <a href="assets/images/room-lite.png" target="_blank">

                            <img data-src="assets/images/room.png" alt="Bandora Chat Room Page"
                                title="Bandora Chat Room Page" class="phone-image nojs">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h1>
                            Chats</h1>

                        <!--    <p class="lead">Security without the hassle</p> -->
                    </div>
                </div>
            </div>

            <div class="col-md-4 inbox-col">
                <div class="row">
                    <div class="col-md-6">
                        <a href="assets/images/more-lite.png" target="_blank">

                            <img data-src="assets/images/more.png" alt="Bandora Account Page"
                                title="Bandora Account Page" class="phone-image nojs">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h1>
                            More
                        </h1>
                        <!--    <p class="lead">Security without the hassle</p> -->
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
    <!--/.wrap-->
</div>
<!--/.services-section-->